{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="panel right">
        <div class="my-notifications">
        First Div
        </div>
        <div class="public-notifications">
        Second Div
        </div>
    </div>
    <div class="panel left">
        <div class="second-right">
        	<form action="/submit" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Submit Sighting!">
            </form>
        </div>
        <div class="second-left">
        Left Div
        </div>
        <div class="dashboard">
        Dashboard
        </div>
    </div>
{% endblock %}
