<!DOCTYPE html>
<html>
	<script src="{{ STATIC_URL }}jquery-1.11.3.js"></script>
	<input type="text" id="filter" class="filter" placeholder="enter registration">
	<ul id="UsersSelect" class="list-group" style="overflow: auto;">
		{% for person in people %}
			<li style="display: none;" class="list-group-item" value="115099"><a href="javascript:;" onclick="populateLov('{{person.user.first_name}}.{{person.user.last_name}}', '{{person.mobile}}');">{{person.user.first_name}}.{{person.user.last_name}}</a></li>
		{% endfor %}
	</ul>
	<script>
		function populateLov(name, mobile)
		{	
	        window.parent.document.getElementById('human_name').value = name;
	        window.parent.document.getElementById('human_number').value = mobile;
	        //alert(window.parent.document.getElementById('registration').value)
	        //document.vehicle_lov_form.submit();
	        self.parent.tb_remove();
		}
		
		$(document).ready(function(){
			$('#filter').keyup(function(){
                if (this.value == '')
                {
                    $('#UsersSelect li').show();
                }
                else
                {
                    $('#UsersSelect li').hide();
                    $('#UsersSelect').find("li:contains('" + this.value + "')").show();
                    if ($('#UsersSelect').find("li:contains('" + this.value + "')").size() == 1)
                    {
                        $('#UsersSelect').find("li:contains('" + this.value + "')").get(0).click();
                    }
                }
            });
		});
	</script>
    