{% extends "base.html" %}
 
{% block content %}
    <div class="panel left">
        <h1>User Profile</h1>
        <p>
            <form action="/user_profile/" method="post">
            {% csrf_token %}
            <tr>
				{{form}}
			</tr>
			<tr>
            	<input type="submit" value="Save">
            </tr>
            </form>
        </p>
    </div>
	<div class="panel right">
        <h1>My Vehicles</h1>
        <div class="my-notifications">
        	{% for veh in vehicles %}
	    	    <div class="timeline-item">
			        <div class="year">Audi A4<span class="marker"><span class="dot"></span></span></div>
			        <div class="info"><a href="link">2008 1.8T, Blue</a></div>
			    </div>
			{% endfor %}
        </div>  
    </div>
{% endblock %}